import * as T from './types'
import * as S from './styles'

export const {{pascalCase name}}: T.{{pascalCase name}}Type = () => {
  return (
    <S.{{pascalCase name}}Container>
      <h1>{{pascalCase name}}</h1>
    </S.{{pascalCase name}}Container>
  )
}
